@use '../node_modules/petricorcss/config' with (
  $stack-gap: (
    '19': 4.75rem,
  ),

  $breakpoints: (
    'xl': (min: 1280px)
  ),

  $grid-template-columns: (
    '4-auto-fit': repeat(auto-fit, minmax(min(100%, 15.5rem), 1fr)),
  ),

  $variants: (
    'box-shadow'            : [focus],
    'colors'                : [hover active],
    'font-feature-settings' : true,
    'padding'               : [responsive children],
  )
);

@use '../node_modules/petricorcss';
@use 'scss/fonts';

// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
