@use '../node_modules/petricorcss/config' with (
  $breakpoints: (
    'xl': (min: 1280px)
  ),

  $grid-template-columns: (
    '4-auto-fit': repeat(auto-fit, minmax(min(100%, 15.5rem), 1fr)),
  ),

  $variants: (
    'font-feature-settings' : true,
  )
);

@use '../node_modules/petricorcss';
@use 'scss/fonts';